.container{
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom:10px solid #e1ca96;
}

.recovered {
    border-bottom:10px solid #aca885;
}

.deaths {
    border-bottom:10px solid #918b76;
}